.buildContainer {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-title {
      font-size: 3rem;
      text-align: center;
  
      position: absolute;
      top: 50%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .buildContainer {
      .main-title {
        top: 25%;
      }
    }
  }
  